.collapsible {
	cursor: default;	
}

.gwiki-toolBar {
	background-color: #F0F0EE;
	height: 27px;
	border: 1px solid #ccc;
}

.gwikiedit_table td {
	margin-right: 1px;
	margin-top: 2px;
	background-repeat: no-repeat;	
}

.gwikiedit_icon {
	border:1px solid #F0F0EE;
	display: block;
	width: 20px;
	height: 20px;
	padding: 1px;
	background-position:center; 
	background-repeat: no-repeat;
	cursor: default;
}

.gwikiedit_seperator {
	background-position: -180px 0 !important;
	width: 2px !important;
	height: 20px !important;
	margin: 2px 2px 0 4px !important;
	display: block;
	cursor: default;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent
		url(../../static/tiny_mce/themes/advanced/img/icons.gif) no-repeat
		scroll 20px 20px;
}

.gwikiedit_icon_tinymce {
	display: block;
	height: 20px;
	width: 20px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent
		url(../../static/tiny_mce/themes/advanced/img/icons.gif) no-repeat
		scroll 20px 20px;
}

.gwikiedit_icon:hover {
	border:1px solid #0A246A; 
	background-color:#B2BBD0;
}

.gwikiedit_iconActive {
	border:1px solid #0A246A; 
	background-color:#C2CBE0;
}

.gwikiedit_help {
	background-position: -340px 0;
}

.gwikiedit_fullscreen {
	background-position: -100px -20px;
}

.gwikiedit_cancel {
	background-position: -460px -20px;
}

.gwikiedit_save {
	background-position: -480px -20px;
}

.gwikiedit_preview {
	
}

.gwikiedit_head1 {
	background-image: url(img/text_heading_1.png);
}

.gwikiedit_bold {
	background-position: 0 0 !important;
}

.gwikiedit_italic {
	background-position: -60px 0 !important;
}

.gwikiedit_underline {
	background-position: -140px 0 !important;
}

.gwikiedit_codeblock {
	background-image: url(img/page_code.png);
}

.gwikiedit_link {
	background-position: -500px 0 !important;
}

.gwikiedit_image {
	background-image: url(img/image.png);
}

.gwikiedit_screenshot {
	background-image: url(img/images.png);
}

.gwikiedit_attachment {
	background-image: url(img/attach.png);
}

.gwikiedit_template {
	background-image: url(img/layout.png);
}