/**
 * File: micromata.css
 *
 * @package        S5 Base-Template for GWiki
 * @copyright      Micromata GmbH
 * @author         Moritz Fröhner
 * @note           Micromata Template
 *
 */

#header div {
	float: left;
	width:20%;
	margin: 1em 0 0 1em;
}
#header div + div {
	float: right;
	width:20%;
	margin: 1em 1em 0 0;
}
#header div img {
	width:100%;
}
#header h1 {
	text-align:center;
}
#footer * {
	margin:0 auto;
	text-align:center;
	color: #8994A0
}
.slide img {
	width:75%;
}