*.class
target/
classes/

#eclipse files
**/*.project
**/*.classpath
**/*.project
**/.settings

**/.fslock
gwiki/src/main/external_resources/gwiki_tmp
gwiki/src/main/resources_zip/gwiki/**/arch
gwiki-standalone/gwiki_derby
gwiki-standalone/gwiki
gwiki-standalone/log
gwikilauncher/gwiki-derby
gwikilauncher/log
**/gwiki-dev.properties
**/local-settings-dev.properties
**/playzone/**
**/*TextIndex.txt
**/*TextExtract.txt
**/tmp/**
**/GlobalTextIndexSettings.properties
**/_PageViewCounter.properties
temp
gwiki/src/main/resources_zip/gwiki/admin/plugins
gwiki/src/main/resources_zip/gwiki/pub/en/playzone
*/genomelog-derby
**/_PageViewCounter.properties
web/**/arch
gwikilauncher/*.log
gwikilauncher/gwiki.properties
gwikilauncher/log4j.properties
gwikilauncher/keystore
