#header {
	background-position: left bottom;
	background-repeat: repeat-x;
	color: #777777;
	font-family: helvetica, arial, freesans, clean, sans-serif;
	font-size: 11px;
	margin: 0 auto;
	padding: 0px 0 0px;
	text-align: left;
	vertical-align: bottom;
	line-height: 1.5;
	min-height: 1.5em;
	position: relative;
	/*	z-index: 1; */
}

#navigation {
	float: right;
	font-size: 11px;
	margin: 5px 0;
	padding: 0;
}

#breadcrumbs {
	font-size: 12px;
	margin-right: 15px;
	padding-left: 7px;
}
/*
body h1,body .wiki-content h1 {
	color: #333333;
	font-size: 22px;
	font-weight: bold;
	line-height: 2;
	margin-top: 0;
	padding: 5px 5px 5px 6px;
}
*/
body,p,td,table,tr,.bodytext,.stepfield { /*color: #000000;
	font-size: 10pt;
	font-weight: normal;
	 line-height: 1.3; */
	
}

#main { /*text-align: left; */
	
}

body {
	
}

body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	/*font-size: 12px;
	*/
}

body,p,td,table,tr,.bodytext,.stepfield { /*color: #000000;
	font-size: 10pt;
	font-weight: normal;
	line-height: 1.3;
	*/
	
}
/*
#quick-search-query {
	width: 13em;
}
*/
cinput.blank-search,.quick-search .placeholded {
	color: #666666;
}

input { /*
	color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	*/
	
}
/*
element.style {
	margin-right: 10px;
}

.wiki-content,.wikicontent td {
	font-size: 12px;
}
*/
/*
.wiki-content,.wiki-content p,.wiki-content table,.wiki-content tr,.wiki-content td,.wiki-content th,.wiki-content ol,.wiki-content ul,.wiki-content li
	{
	font-size: 10pt;
	line-height: 13pt;
}
*/
.panel {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #F0F0F0 none repeat scroll 0 0;
	border-style: solid;
	border-width: 1px;
	color: black;
	margin: 10px 20px;
	overflow: hidden;
	padding: 0;
}

.codeHeader,.panelHeader,.panelContent {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #F0F0F0 none repeat scroll 0 0;
}

.panel {
	border-style: solid;
	color: black;
}

.panelContent {
	background-color: #F0F0F0;
	padding: 5px;
	font-size: 0.95em;
	margin: 0;
	padding: 0 12px;
	text-align: left;
}

.panelContent,.panelContent p,.panelContent th,.panelContent td,.panelContent li
	{
	text-align: left;
}

code pre,.preformatted pre {
	font-family: "Courier New", Courier, monospace;
	line-height: 1.3;
}
/*
pre {
	margin: 10px 0;
	overflow: auto;
	padding: 0;
	text-align: left;
}
*/

code,.preformatted {
	background-color: #FFFFFF;
}

.java_type {
	color: blue;
}

.java_keyword {
	color: red;
}

.java_plain {
	color: black;
}

.PageComment_commentContent,.focusedComment {
	border: 1px solid #BBBBBB;
	margin: 5px 0;
	overflow: auto;
	padding: 10px;
}

.PageComment_commentContent {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FFFFCE none repeat scroll 0 0;
}

.wikiPageIntro {
	margin: 10px 60px 20px 20px;
	font-size: 1.2em;
	font-weight: bold;
}

.wikiSmartTag {
	list-style: -moz-background-clip :       border !important;
	-moz-background-inline-policy: continuous !important;
	-moz-background-origin: padding !important;
	background: transparent none repeat scroll 0 50% !important;
	border-bottom: 1px dashed #000000 !important;
	color: #000000 !important;
	cursor: pointer !important;
	display: inline !important;
	padding-bottom: 1px; //
	position: static;
	text-decoration: none !important;
}

table.gwikiTable {
	border-collapse: collapse;
	margin: 5px;
}

td.gwikitd,table.gwikiTable td.gwikitd {
	border: 1px solid #DDDDDD;
	padding: 5px;
	vertical-align: top;
}

th.gwikith,table.gwikiTable th.gwikith {
	background-color: #F0F0F0;
	border: 1px solid #DDDDDD;
	padding: 5px;
	text-align: left;
	vertical-align: top;
}

ul.gwikiNavMenu {
	background-color: #FFFFFF;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.gwikiButton {
	color: #000000;
	background: #F0F0F0 none repeat scroll 0 0;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12pt;
}

a.gwikiButton:hover {
	color: #000000;
	background-color: #F1F1F1;
}

.gwikiWikiEditorFrame {
	padding-top: 3px;
}

.gwikiToolPanel {
	background-color: #CCCCCC;
}

.gwikiToolbar {
	height: 20px;
}

.gwikiToolbarButton {
	
}

.gwiki-editor {
	width: 100%;
}

.mceLayout {
	width: 100%;
}

.gwikiToolbarButtonEnabled {
	
}

.gwikiToolbarIcon {
	display: block;
	height: 20px;
	width: 20px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent
		url(../static/tiny_mce/themes/advanced/img/icons.gif) no-repeat scroll
		20px 20px;
}

.wikiEditorTextArea {
	height: 100%;
	width: 100%;
}

.gwikiIcon_help {
	background-position: -340px 0;
}

.gwikiIcon_fullscreen {
	background-position: -100px -20px;
}

.gwikiIcon_cancel {
	background-position: -460px -20px;
}

.gwikiIcon_save {
	background-position: -480px -20px;
}

.gwikifrageditbox {
	visibility: visible;
	background: transparent;
	position: relative;
	z-index: 2;
	overflow: hidden;
	vertical-align: top;
	text-align: right;
	font-size: 0.5em;
	float: right;
}

/**
 * @section        User Login and Registration
 *
 * Styles for the Userlogin and Userregistration
 *
 * @see            LoginTemplate.gspt and RegisterUserTemplate.gspt
 */

#gwikiForm {
	-moz-border-radius:3px 3px 3px 3px;
	border:1px solid #EEEEEE;
	padding: 3em 4em;
	background:none repeat scroll 0 0 #FFFFFF;
	margin:0 auto 2em auto;
	margin-top:3em;
	width:40em;
}
#gwikiForm fieldset {
	padding-top:1.5em;
	border:0 none;
	display:block;
	margin-bottom:5px;
	padding-bottom:5px;
	position:relative;
}
#gwikiForm legend {
	position: absolute;
	left: -99999em;
	top: -99999em;
}
#gwikiForm div.type-text {
	clear:both;
	display:block;
	margin:0;
	margin-bottom:0.5em;
	min-height:1.6em;
	padding:0 0 0.5em 8em;
}
#gwikiForm div.type-text label {
	text-align:left;
	display:block;
	float:left;
	left:-8em;
	line-height:1;
	margin-right:-13em;
	padding-top:0.4em;
	position:relative;
	width:13em;
	font-size:1.2em;
	cursor:pointer;
}
#gwikiForm div.type-text input {
	margin:0;
	margin-right:5px;
	padding:2px;
	width:95%;
}
#gwikiForm div.type-button {
	clear:both;
	display:block;
	margin:0;
	min-height:1.6em;
	padding:0 0 0 8em;
}
ul.gwikiLoginHelp {
	float:right;
	line-height:1.6em;
	margin:0 10px 0 0;
	padding:0;
}
ul.gwikiLoginHelp li {
	display:inline;
	padding-left:1em;
}
ul.error {margin:0; margin-left:6.2em; list-style:none;}

.gwikiExpandableFieldSet {
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
}
.gwikiExpandableFieldSet legend {
  color: #000000;
  background: #F0F0F0 none repeat scroll 0 0;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16pt;
  cursor: ns-resize;
}

.navMenuJsTree {
	padding-top: 30px;
}