/* ================================================================================= */
/* = Author: ǝp˙ɐʇɐɯoɹɔıɯ@zɹɐʍɥɔs˙ɯ  | © 02010 Micromata GmbH | Have a lot of fun! = */
/* ================================================================================= */

html,a,abbr,acronym,address,applet,b,big,blockquote,body,cite,code,del,dfn,div,em,font,h1,h2,h3,h4,h5,h6,i,iframe,img,ins,kbd,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,tt{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{background:#fff;line-height:1;}
ol,ul,dl{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table, tr, td, th{border-collapse:collapse;border-spacing:0; margin:0; padding:0;}
a img{border:none;}
