@CHARSET "UTF-8";

/* ================================================================================= */
/* = Author: ǝp˙ɐʇɐɯoɹɔıɯ@zɹɐʍɥɔs˙ɯ  | © 02010 Micromata GmbH | Have a lot of fun! = */
/* ================================================================================= */

body {
	font: normal 62.5% Helvetica, Arial, sans-serif;
}


/* +++++ gwikiMasthead typography ++++++++++++++++++++++ */

	#gwikiMasthead h1{
		color:#5C6970;
		font: bold 1.4em Helvetica, Arial, sans-serif;
		float:left;
		margin: 0.5em;
		
	}
	
	#gwikiMasthead h2{
		color:#5C6970;
		font: normal 1.2em Helvetica, Arial, sans-serif;
		float:left;
		display:none;
	}

 #gwikiPageinfo{
	background-color: #FDEB99;
	margin:0 -0.6em 0 -0.9em;
	padding:2em;
	border-top: 0.1em solid #CFD7D9;
	border-bottom: 0.1em solid #CFD7D9;
}

#gwikiPageinfo h3 {
	font-size:2em;
	line-height:1.25em;
	margin: 0 0 1em 0;
}
#gwikiPageinfo p{
	font-size:1.6em;
	line-height:1.5em;
}

/* gwikiContent */

#gwikiContent {
	padding:0 2em;
	/*background: #fff url("img/gui/bg24.gif") repeat top left;/**/
	color: #5C6970;
}




/* All your prose... */


#gwikiContent p{
	font-size:1.6em;
	padding:0;
	margin:0 0 1.5em 0;
	line-height:1.5;
}

/* All the pretty headings... */


#gwikiContent h1,
#gwikiContent h2,
#gwikiContent h3,
#gwikiContent h4,
#gwikiContent h5,
#gwikiContent h6,
#gwikiContent h7,
#gwikiContent h8{
	line-height:1em;
	margin:0;
	padding:0;
	font-weight: normal;
	color:#33434C;
}


#gwikiContent h1 {
	margin: 3em 0 0 0;
	font-size:2.4em;
}


#gwikiContent h2 {
	font-size:1.8em;
	line-height:1.333em;
}


#gwikiContent h3 {
	font-size:1.6em;
	line-height:1.5em;
	font-weight:bold;
}


#gwikiContent h4 {
	font-size:1.2em;
	line-height:2em;
	font-weight:bold;
}


#gwikiContent h5 {
	font-size:1.2em;
	line-height:2em;
	font-weight:bold;
}


#gwikiContent h6 {
	font-size:1.2em;
	line-height:2em;
	font-weight:bold;
}



/* Cute little lists... */
 
 
 /* Unordered */
 
#gwikiContent ul {
	margin:0;
	padding: 1.5em 1.5em 1.5em 3em; 
	font-size:1.6em;
	line-height:1.5em;
	list-style:disc;
	background:#f9f9f9;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
}

#gwikiContent ul li {
	margin: 0;
	padding: 0;
}


/*disable endocrine growth... */
#gwikiContent ul li ul li,
#gwikiContent ul li ul li ul li,
#gwikiContent ul li ul li ul li ul li,
#gwikiContent ul li ul li ul li ul li ul li {
	margin: 0;
	padding: 0;
	opacity: 0.6;
}

/* disable endocrine growth... */
#gwikiContent ul li ul, 
#gwikiContent ul li ul li ul, 
#gwikiContent ul li ul li ul li ul {
	font-size: 1em;
	margin: 0 0 0 2em;
	padding: 0;
}

/* Ordered */

#gwikiContent ol {
	margin: 1.5em 0 1.5em 2em;
	padding: 0;
	font-size: 1.6em;
	line-height: 1.5em;
	list-style: decimal-leading-zero;
}

#gwikiContent ol li {
	margin: 0;
	padding:0;
}


/* disable child growth... */
#gwikiContent ol li ol li,
#gwikiContent ol li ol li ol li,
#gwikiContent ol li ol li ol li ol li,
#gwikiContent ol li ol li ol li ol li ol li {
	margin:0;
	opacity:0.6;
}

/* disable child growth... */
#gwikiContent ol li ol, 
#gwikiContent ol li ol li ol, 
#gwikiContent ol li ol li ol li ol {
	font-size:1em;
	margin: 0 0 0 2em;
	padding:0;
}

#gwikiContent dl {
	background:#CFD7D9 url("img/gui/line.gif") repeat-x top left;
	margin: 0 0 1.5em 0;
	padding: 0;
	font-size: 1.6em;
	line-height: 1.5em;
	list-style: decimal-leading-zero;
	border-left: 1px solid #CFD7D9;
	border-right: 1px solid #CFD7D9;
}

#gwikiContent dl dt {
	margin:0;
	padding:0 0.5em 0 0.5em;
	background:transparent url("img/gui/line.gif") repeat-x bottom left;
	font-weight:normal;
}

#gwikiContent dl dd {
	margin:0;
	padding:0 0.5em 0 2em;
	background:#fff url("img/gui/line.gif") repeat-x bottom left;
}

/* Let 'em float */

#gwikiContent dl.left{
	clear:left;
	float:left;
	max-width:30em;
}

#gwikiContent dl.right{
	clear:right;
	float:right;
	max-width:30em;
}



/* links */

a:visited, a {
	color: #2274AC;
	text-decoration:none;
}

a:hover {
 color: #00B1EB;
 text-decoration: underline;	
}

/* tabelle */
#gwikiContent table {
	border: none;
	border-right: 0.6em solid #fff;
	border-collapse: inherit;
	border-spacing: 0;
	table-layout: auto;
	margin: 0 0 2.4em 0;
	font-size: 1em;
	color: #5C6970;
}

#gwikiContent table thead {}

#gwikiContent table tfoot {}

#gwikiContent table tbody {}

#gwikiContent table thead tr td,
#gwikiContent table thead tr th,
#gwikiContent table tfoot tr td,
#gwikiContent table tfoot tr th,
#gwikiContent table tbody tr td,
#gwikiContent table tbody tr th {
	padding: 0 0.3em;
	font-size:1.6em;
	line-height:1.5;
	border-left:0.4em solid #fff;
	font-weight:normal;
	vertical-align: top;
}

#gwikiContent table thead tr td,
#gwikiContent table thead tr th{
	border-bottom:none;
	color: #33434C;
	text-align:center;
	background-color:#eaeeed;
}

#gwikiContent table thead tr th {
	background-color:#CFD7D9;
	font-weight:bold;
}

#gwikiContent table tfoot tr td,
#gwikiContent table tfoot tr th {
	background-color:#f9f9f9;	
}

#gwikiContent table tbody tr.even td,
#gwikiContent table tbody tr.even th {
	background-color:#fff;
	color: #33434C;
		
}

#gwikiContent table tbody tr.odd td,
#gwikiContent table tbody tr.odd th {
	background-color:#eaeeed;
	color: #33434C;
}

/* take care of the inglorious-layout-table-basterds */

#gwikiContent table.layout thead tr td,
#gwikiContent table.layout thead tr th,
#gwikiContent table.layout tfoot tr td,
#gwikiContent table.layout tfoot tr th,
#gwikiContent table.layout tbody tr td,
#gwikiContent table.layout tbody tr th {
	padding: 0;
	font-size:1em;
	line-height:1;
	border:none;
	font-weight:normal;
	vertical-align: top;
}

/* due to the typographic impact of imagecontent you'll find em here now */

#gwikiContent img {
	max-width:40em;
	max-height:13.9em;
	border: 1px solid #eaeeed;
	background:#fff;
	padding:0.5em;
	margin: 0 0 1.5em 0;
	font-size:1.6em;
	line-height:1.5em;
}

/*used icons in gwikiContent have to behave like icons, not like images.*/

#gwikiContent img.icon{
	margin:0;
	padding:0.1em;
	border: 1px solid #eaeeed;
	float:right;
	-moz-border-radius: 0.2em;
	-webkit-border-radius: 0.2em;
	width:0.5em;
}

#gwikiContent img.icon:hover, #gwikiContent img.iconOver {
	background:#CCCCD1;
	border-color:#B3B3B7;
}
	
#gwikiContent img.right{
	float:right;
	max-height:13.9em;
	margin: 0 0 0 1.5em;
}
	
#gwikiContent img.left{
	float: left;
	max-height:13.9em;
	margin: 0 1.5em 0 0;
}

/* rendering the alt-text as imagefootnote */


#gwikiContent div.imgfoot{
	font-size:1.2em;
	padding: 1em 0.6em;
	background:#fff;
	color: #CCCCD1;
	line-height: 1;
	max-height:6em;
	min-height:4em;
	overflow:hidden;
	/*background: red url("img/gui/bg24.gif") repeat top left;/**/
}


#gwikiContent div.imgfoot_none{
	margin-top:-2.2em;

}



#gwikiContent div.imgfoot_left{
	float:left;
	clear:left;
	margin:0 2em 0 0;
}


#gwikiContent div.imgfoot_right{
	float:right;
	clear:right;
	margin:0 0 0 2em;
}



/* Prettyfy all the code snippets */



#gwikiContent div.panel { 
	margin:0 2.4em 2.4em 0;
	max-width: 24em;
	height: 19.6em;
	padding: 0 0 2em 0; 
	background:#f9f9f9;
	-moz-border-radius: 1.6em;
	-webkit-border-radius: 1.6em;
	float:left;
}


#gwikiContent div.panel h3{
	border-bottom: 1px solid #CFD7D9;
	font-size:1.3em;
	margin: 0;
	padding: 0.25em 1em 0 1em;
}


#gwikiContent div.panel pre {
	font-size: 0.8em;
	overflow: auto;
	margin:3em;
	max-height: 22em;
	border:1px solid #CFD7D9;
}



