@CHARSET "UTF-8";

body  {
    background: #858E94 url("../img/bg.png") top left repeat-x;
}
#gwikiWrapper {
	position:relative;
	background:#FFFFFF;
	height:auto;
	margin:0 auto;
	text-align:left;
	width:98em;
}
#gwikiExplorer {
	position:absolute;
	top:0;
	left:0;
}
#gwikiHead {
	background: url("../img/head.jpg") no-repeat center center #D8E3ED;
	position:relative;
	height:22em;
}
#gwikiLogo {
	height:11em;
	padding:4em 2em 2em;
	position:absolute;
	right:3.2em;
	top:0;
	width:21em;
	background:url("../img/bubble.gif") no-repeat left bottom;
}
#gwikiExplorer {display:none;}
/**
 * @section        #topbarNav
 *
 * Die Hauptnavigation der gWiki Seite, wird vermutlich in Labs nicht benötigt.
 *
 * @see            #topbarNav
 */
#gwikiTopNav {
	display:none;
	position:absolute;
 	top: 40px;
 	left:5px;
 	color:#fff;
 }
#gwikiTopNav a.menuItem {
 	color:#fff;
 	font:1.6em/1.2em Arial,Helvetica,sans-serif;
 	text-decoration:none;
 	padding: 0 5px;
 }
 #gwikiTopNav a.menuItem:hover {
 	text-decoration:underline;
 }
/**
 * @section        topbar
 *
 * Die obere Zeile die eine Suche und eine Navigation beinhaltet
 *
 * @see            #topbar
 */
#topbar {
	background:url("../img/gradient.png") repeat-x scroll 44% 20% transparent;
	border-bottom:1px solid #767676;
	height:2.5em;
	width:100%;
	position:absolute;
	top:0;
	padding:0.2em 0;
	z-index:100;
}
ul#socialLinks li {
	float:left;
	margin: 0 0 0 0.2em;
}
#topbarNav li {
	float:right;
	z-index:101;
	margin: 5px 10px 0 0;
}
#topbar #gwikiSearchmenu {float:right;margin: 0 7em 0 0;}
.gwikiQuicksearchSubmit {display:none;}
/**
 * @section        Header
 * @subsection     HeaderNavigation
 *
 * Die Navigation im Fuss des Headers
 *
 * @see            #headerNav
 */
#headerNav {
	position:absolute;
	bottom:0;
	left:0;
	width:98em;
	height:4em;
	background:#69A100;
	opacity:0.9;
}
#gwikiBreadcrumb {display:none;}
#gwikiBreadcrumb a {
	color:#FFFFFF;
	margin:0;
	padding:0.2em 2em 0.2em 0.7em;
	text-shadow:0 0 5px #FFFFFF;
	white-space:normal;
	word-wrap:break-word;
	font-size:1.2em;
	text-decoration:none;
}
#gwikiPageMenu {
	position:absolute;
	z-index:9030;
	right:0;
	top: 6em;
}
#gwikiPageMenu li {
	float:left;
	margin-right:10px;
	position:relative;
	display:block;
}
#gwikiPageMenu ul {
	list-style:none;
	position:absolute;
	visibility:hidden;
}
#gwikiPageMenu ul li {
	float:none;
	margin:0;
}
#gwikiPageMenu li:hover ul {
	right:0;
}
/*
 * #gwikiSiteMenu
 */
#gwikiSiteMenu {
	position:absolute;
	z-index:9050;
	bottom:0;
	right:0;
	list-style:none;
	font-weight:bold;
}
#gwikiSiteMenu li {
	float:right;
	margin-right:10px;
	position:relative;
	display:block;
}
#gwikiSiteMenu li span {
	cursor:pointer;
	display:block;
	padding: 5px 10px;
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.75); /* Text shadow to lift it a little */
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	font-size:1.4em;
}
#gwikiSiteMenu li span a {
	color:#fff;
	text-decoration:none;
}
#gwikiSiteMenu li.hover span {
	color:#fff;
	background:#75C100;
	background:rgba(117,193,0,0.75);
	text-decoration:none;
}
#gwikiSiteMenu ul {
	background: #fff;
	background:rgba(255,255,255,0.75);
	list-style:none;
	position:absolute;
	visibility:hidden;
	-webkit-transition:0.25s linear opacity;
	-moz-transition:0.25s linear opacity;
	border: 1px solid #69A100;
	border-top:0;
}
#gwikiSiteMenu ul li {
	float:none;
	margin:0;
}
#gwikiSiteMenu ul li a {
	white-space:nowrap;
	display:block;
	color:#535353;
	font-size:1.2em;
	padding: 3px 5px 3px 5px;
}
#gwikiSiteMenu li:hover ul {
	right:0;
}
#gwikiSiteMenu ul li a:hover { /* Set styles for top level when dropdown is hovered */
	background:#75C100;
	background:rgba(117,193,0,0.75);
}
#gwikiSiteMenu li:hover ul a{ /* Override some top level styles when dropdown is hovered */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#gwikiSiteMenu li:hover ul li a:hover{ /* Set styles for dropdown when items are hovered */
	background:#75C100;
	background:rgba(117,193,0,0.75);

}
/**
 * @section        Container
 *
 * Content
 *
 * @see            #gwikiContainer
 */
#gwikiContainer {
	padding:1.5em 3.4em;
}
#gwikiContainer h1#pagetitle {
	-moz-border-radius:0.3em 0.3em 0.3em 0.3em;
	-webkit-border-radius:0.3em 0.3em 0.3em 0.3em;
	background:none repeat scroll 0 0 #69A100;
	color:#FFFFFF;
	line-height:1;
	max-width:30em;
	opacity:0.8;
	padding:0.2em;
	position:absolute;
	top:4.6em;
	left:0.4em;
	width:auto;
	z-index:200;
	font-weight:bold;
}
#gwikiContent {}
/**
 * @section        Footer
 *
 * footer-section
 *
 * @see            #footer
 */

#footer {
	padding:1.5em 3.4em;
	background:#69A100;
 	min-height:10em;
}
#footer #site-info {
 	opacity:0.5;
}
#footer #site-info:hover {
	opacity:1;
}
#footer #site-info li {
	color: #fff;
	font-size:1.2em;
	line-height:1.8em;
}
#footer #site-info li a {
	color: #fff;
}
#footer #site-info li a:hover {
	color:#111;
}
#footer #site-info li a.mmLabsLogo {
	display:inline-block;
	width:123px;
	height:18px;
	background: url('../img/labsfooter.png') no-repeat left top;
	text-indent: -9999em;
}
 /**
 * @section        User Login and Registration
 *
 * Styles for the Userlogin and Userregistration
 *
 * @see            LoginTemplate.gspt and RegisterUserTemplate.gspt
 */

#gwikiForm {
	-moz-border-radius:3px 3px 3px 3px;
	border:1px solid #EEEEEE;
	padding: 3em 4em;
	background:none repeat scroll 0 0 #FFFFFF;
	margin:0 auto 2em auto;
	margin-top:3em;
	width:40em;
}
#gwikiForm fieldset {
	padding-top:1.5em;
	border:0 none;
	display:block;
	margin-bottom:5px;
	padding-bottom:5px;
	position:relative;
}
#gwikiForm legend {
	position: absolute;
	left: -99999em;
	top: -99999em;
}
#gwikiForm div.type-text {
	clear:both;
	display:block;
	margin:0;
	margin-bottom:0.5em;
	min-height:1.6em;
	padding:0 0 0.5em 8em;
}
#gwikiForm div.type-text label {
	text-align:left;
	display:block;
	float:left;
	left:-8em;
	line-height:1;
	margin-right:-13em;
	padding-top:0.4em;
	position:relative;
	width:13em;
	font-size:1.2em;
	cursor:pointer;
}
#gwikiForm div.type-text input {
	margin:0;
	margin-right:5px;
	padding:2px;
	width:95%;
}
#gwikiForm div.type-button {
	clear:both;
	display:block;
	margin:0;
	min-height:1.6em;
	padding:0 0 0 8em;
}
ul.gwikiLoginHelp {
	float:right;
	line-height:1.6em;
	margin:0 10px 0 0;
	padding:0;
}
ul.gwikiLoginHelp li {
	display:inline;
	padding-left:1em;
}
ul.gwikiLoginHelp li a {
	color:#69A100;
	cursor:pointer;
}
ul.gwikiLoginHelp li a:hover {
	color:#111;
	cursor:pointer;
}
ul.error {margin:0; margin-left:6.2em; list-style:none;}