@CHARSET "UTF-8";

body {
	font: normal 62.5% Helvetica, Arial, sans-serif;
}
#gwikiContainer h1 {font-size:2.4em;}
#gwikiContainer h2 {font-size:2.0em;}
#gwikiContainer h3 {font-size:1.8em;}
#gwikiContainer h4 {font-size:1.6em; font-weight:bold;}
#gwikiContainer h5 {font-size:1.6em;}
#gwikiContainer h6 {font-size:1.4em;}
h1,h2,h3,h4,h5,h6 {color:#535353;}
#gwikiContainer p,{font-size:1.2em;}