@charset "utf-8";
/* special IE CSS commands */

* +html #main{
	width: 98.7em;
	max-width:99%;
	min-width:800px;
	background: url(${img}common/shadow_main_right.gif) no-repeat 100em top;
}

*html #main{
	background: url(${img}common/shadow_main_right.gif) no-repeat 100em top;
}

* html #content_main{
	/*width: 52.4em;*/
	width: 100em;
}

* +html #content_main{
	width: 52.3em;
	max-width:100%;
	min-width:510px;
}

* html #content_main_container {
  	overflow:auto;
}
	
* html #content_cross_reference {
	/*margin-left: -1em;*/
	margin-left: -0.1em;
}


@media screen and (min-width: 0px){
.container_title_main {
padding-bottom:2.3em;
}
}

/*\*/
html*.container_title_main {
padding-bottom:2.6em;

}/**/



*+html .container_title_main {
padding-bottom:2.3em;
}

* html #content_main_index {
	background:url(${img}common/shadow_content_title_right.gif) top left no-repeat;
}

*html #container_slot_1 {
	width: 22em;
	max-width:47%;
	padding-right: 14px;
}

*html #container_slot_2 {
	width: 23.4em;
	max-width:49%
}



/* positioning main area IE 7 and 6 */
* html #main_area{
	height:420px;
}

* +html #main_area {
	background: url(${img}common/shadow_main_right.gif) no-repeat 110% top;
	padding-right:0px;
	width: 100%;
	height:420px;
}



/* positioning of footer IE 7 */
* +html #footer {
	width: 74em;
	min-width:740px;
}
* +html #footer div.container {
	padding: 1em 1em 0.5em 1em;
	background-color: #ffcc00;
	width: 71.5em;
	max-width:96%;
}
* html #footer {
	width: expression(document.getElementById("emhelper").offsetWidth >= 13? "98.8em": document.getElementById("emhelper").offsetWidth >= 12 ? "98.8em":"98.8em");
}
* +html #footer div.container {
	max-width: expression(document.getElementById("emhelper").offsetWidth >= 13? "96.3%": document.getElementById("emhelper").offsetWidth >= 12? "96%":"96%");
}

/* main navigation*/



/* left side navigation  IE 6 */
* html #menu
 {
	width:15.5em;
}
* html #menu .toplevel
 {
	width:13.5em;
}
* html .menuItem,* html .menuItemSelected, * html .menuItemSelectNoSub, * html .menuItem1,* html .menuItem1Selected, * html .menuItem2,* html .menuItem2Selected, * html .menuItem2SelectNoSub
 {
	width:11.9em;
}
* html .menuItem3,* html .menuItem3Selected, * html .menuItem3SelectNoSub
 {
	width:8em;
}
* html .menuItem3SelectedLast
 {
	width:8em;
}
/*Safari2 */

/*\*/
html*#navigation_main div#quicksearch {
	padding-top: 0.4em;
	/*right: 3.4em;*/
	right: 0.7em;
;
}/**/
/* right positioning of quicksearch IE 6 */
* html #navigation_main div#quicksearch {
	/*right: 3.9em;*/
	top: 0.0em;
	/*right: 2.9em;*/
	right: 3.3em;
	padding-bottom: 4px;
	background: transparent url(${img}common/shadow_quicksearch.gif) no-repeat 0px 0px;
}

* html #navigation_main div#quicksearch {
	background: expression(document.getElementById("emhelper").offsetWidth <= 10? "transparent url(${img}common/shadow_quicksearch.gif) no-repeat 0px 0px;":"none");
}
html #quicksearch input#keyword {
	/*margin-top: expression(document.getElementById("emhelper").offsetWidth >= 13? "0.2em": document.getElementById("emhelper").offsetWidth >= 12? "0.1em":"0em");*/
	*/padding: expression(document.getElementById("emhelper").offsetWidth >= 13? "0.17em": document.getElementById("emhelper").offsetWidth >= 12? "0.1em":"0em");
}

/* positioning of quicksearch IE 7 */
* +html #navigation_main div#quicksearch {
	padding-top: 0.4em;
	right: 0.9em;
	width: expression(document.getElementById("emhelper").offsetWidth >= 13? "24.1em": document.getElementById("emhelper").offsetWidth >= 12? "23.8em":"23.3em")
}


/* sub navigation top margin IE 6 */
html #menu .iegap, html #sitemap .iegap {
	*/margin-top:-15px;
}

/* fix for IE hr margin bug */
hr {
	*/margin-top: -0.7em;
	*/margin-bottom: 0.5em;
}

html #menu .toplevel hr{
	*/margin-bottom:1.10em;
}

html #menu .toplevel h2{
	*/padding-bottom:0.0em;
	*/margin-bottom:-0.05em;
}



#nav a.navi, #nav a.navi:link, #nav a.navi:visited {
	*/background: url(${img}common/arrow_navi.gif) no-repeat 0.3em 0.4em;
}

#nav a.navi:hover{
	*/background: url(${img}common/arrow_navi_on.gif) 0.3em 0.4em no-repeat;
}

#nav a.naviTrans, #nav a.naviTrans:link, #nav a.naviTrans:visited {
	*/background: url(${img}common/arrow_naviTrans.gif) left 0.3em no-repeat;
}

#nav a.naviTrans:hover {
	*/background: url(${img}common/arrow_naviTrans_on.gif) left 0.3em no-repeat;
}

/* activate PNG support in IE 6 for bottom shadow of main navigation*/
* html #navigation_main_shadow {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${img}common/shadow_navigation_main_bottom.png');
	background: none;
	/*top: 7.4em;*/
	top: 6.6em;
}

/* activate PNG support in IE 6 for right shadow of content title */
* html #content_title_shadow {
}

/* activate PNG support in IE 6 for right shadow of content title */
* html #content_title_shadow_index {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${img}common/shadow_content_title_right.png');
	background: none;
	/*top: 8.6em;*/
	left: 20.1em;
}

/* activate PNG support in IE 6 for right shadow of content main */
* html #content_main_shadow {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${img}common/shadow_content_main_right.png');
	background: none;
	/*top: 5.5em;*/
	/*left: 72.3em;*/
	left: 72.5em;
	left: expression(document.getElementById("emhelper").offsetWidth >= 13? "72.35em": document.getElementById("emhelper").offsetWidth >= 12? "72.4em":"72.5em");
}
/* activate PNG support in IE 7 for right shadow of content main */
* +html #content_main_shadow {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${img}common/shadow_content_main_right.png');
	background: none;
	/*top: 5.5em;*/
	/*left: 72.3em;*/
	left: 72.5em;
	left: expression(document.getElementById("emhelper").offsetWidth >= 13? "72.20em": document.getElementById("emhelper").offsetWidth >= 12? "72.30em":"72.5em");

}

/* activate PNG support in IE 6 for right shadow of content main, tracking template */
* html #content_main_shadow_cltp {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${img}common/shadow_content_main_right_cltp.png');
	background: none;
	/*top: 5.5em;*/
	/*left: 72.3em;*/
	left: 72.5em;
	left: expression(document.getElementById("emhelper").offsetWidth >= 13? "72.35em": document.getElementById("emhelper").offsetWidth >= 12? "72.4em":"72.5em");
}
/* activate PNG support in IE 7 for right shadow of content main, tracking template */
* +html #content_main_shadow_cltp {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='${img}common/shadow_content_main_right_cltp.png');
	background: none;
	/*top: 5.5em;*/
	/*left: 72.3em;*/
	left: 72.5em;
	left: expression(document.getElementById("emhelper").offsetWidth >= 13? "72.20em": document.getElementById("emhelper").offsetWidth >= 12? "72.30em":"72.5em");

}

* html #content_main_index {
	width: 78.6em;
	max-width:100%;
	min-width:520px;
	float: left;
	padding: 0;
	background:url(${img}common/shadow_content_title_right.gif) top left no-repeat;
}


* +html #content_main_shadow {
	background: url(${img}common/shadow_content_main_right.png) no-repeat 72.6em top ;
}

* html .container_title_main {
	background-color: #ffcc00;
	padding: 0.9em 2em 1.6em 2em;
	overflow: hidden;
	border-bottom:1px solid #ffcc00;
}

* html .container_title_main {
padding-bottom:2.2em;
}

/*Spacer IE*/

.spacer {
*/margin-top:-0.6em;
}

#content_main .spacer {
*/margin-top:0.55em;
}


/* Opera Hack*/

@media screen and (min-width: 0px){
hr {
	display: block;
	background-color: #f5f5f5;
	margin: 0 0 1.2em 0;
    max-height:2px;
    border-top:1px solid #dbdbdb;
    border-bottom:none;
    border-left:none;
    border-right:none;
}
}


/*Safari2 */

/*\*/
html*hr {
	display: block;
	background-color: #f5f5f5;
	margin: 0 0 1.2em 0;
    max-height:2px;
    border-top:1px solid #dbdbdb;
    border-bottom:none;
    border-left:none;
    border-right:none;
;
}/**/


/* IE7 */

*+html hr {
	display: block;
	margin: 0 0 0.55em 0;
    height:3px;
    border-top:1px solid #dbdbdb;
    border-bottom:2px solid #f5f5f5;
    border-left:none;
    border-right:none;
}

* html hr {
	display: block;
	margin: 0 0 0.55em 0;
    height:3px;
    border-top:1px solid #dbdbdb;
    border-bottom:2px solid #f5f5f5;
    border-left:none;
    border-right:none;
}

.container_title div#breadcrumb li, .container_title_main div#breadcrumb li {
	*/padding-right: 0.4em;
	*/padding-left: 0.6em;
}





@media screen and (min-width: 0px){
.dlLink:hover {
	color:#cc0202;
}
}

 




/******************************
	styles for Newslist small
*******************************/

/*Safari Hack*/
/*\*/
html*.news_teaser_txt {
[;
margin-left:0;
];
}

/*\*/
html*.dhl .dijitsmallNewsListTitlePaneTextSubNode {
margin-left: 0.45em;
width:258px;
;
}/**/

/* ie6 hack */
* html .news_teaser_img {
	width:78px;
}

* html .news_teaser_txt {
	margin-left: 0;
}

* html .news_teaser_headline {
	padding-left:79px;
}




/******************************
  styles for customs paperwork 
*******************************/

/* IE 6*/


* html #status div#statusLine {
	/*width:98.4%;*/
	/*width:98.6%;*/
	margin-right:0.0em;
}



* html #status_proforma div#statusLine {
	/*width:89.2%;*/
	margin-right:0.0em;
}





/* IE */

#paperwork legend {
	*/margin-left: -0.6em;
}

/* Opera9 */

@media all and (min-width:0px) {
	head~body #paperwork .address {
	width: 17.6em;
}
}




/******************************
	styles for LinkListDropdown
*******************************/
/*Safari2 */

/*\*/
html*#link_list_white input#go {
	height:1.8em;
	margin-top:-1.9em;
;
}/**/
/* IE6 */

* html #link_list_white select#worldwide,
* html #link_list_white select#country,
* html #link_list_white select#linklist_dropdown_w01,
* html #link_list_white select#linklist_dropdown_w02 {
	font-size: 1.1em;
	height: 1.9em;
	width: 16em;
}

* html #link_list_white input#go {
	height: 1.6em;
	font-size: 1.1em;
	margin-bottom:0.2em;
}

/* IE6 */
* html #link_list_grey fieldset {
	margin-top:0em;
}

* html #link_list_grey label {
	margin-top:0em;
}
* html #link_list_grey p{
	*/margin-top:-0.30em;
}
* html #link_list_grey input#go {
	margin-top:-1.6em;
}
#link_list_grey legend {
	*/margin-left:-0.65em;
}


* html #link_list_white select#linklist_dropdown_w01 {
	margin-bottom:0.65em
}
* html #link_list_white select#linklist_dropdown_w01,
* html #link_list_white select#linklist_dropdown_w02 {
	margin-right:0.65em;
}

/* IE7 */
*+html #link_list_grey p{
	margin-top:-0.35em;
}

*+html #link_list_grey select#linklist_dropdown_01 {
	margin-bottom:0.65em;
}
*+html #link_list_grey select#linklist_dropdown_01,
*+html #link_list_grey select#linklist_dropdown_02 {
	font-size: 0.9em;
	height: 1.9em;
	width: 14em;
}
*+html #link_list_white select#worldwide,
*+html #link_list_white select#country,
*+html #link_list_white select#linklist_dropdown_w01,
*+html #link_list_white select#linklist_dropdown_w02 {
	font-size: 1.1em;
	height: 1.9em;
	width: 16em;
	margin-right:0.6em;
}
*+html #link_list_white select#linklist_dropdown_w01 {
	margin-bottom:0.5em
}
*+html #link_list_grey input#go {
	margin-top:-1.6em;
}

*+html #link_list_white input#go {
	height: 1.6em;
	font-size: 1.1em;
	margin-bottom:0.4em;
}

/* Opera9 */

@media all and (min-width:0px) {
head~body #link_list_grey legend {
	margin-left:0em;
	margin-right:0em;
}
head~body #link_list_grey p{
	margin-top:0em;
}
head~body #link_list_grey input#go {
	font-size: 0.9em;
	padding:0.2em;
}
head~body #link_list_white input#go {
	font-size: 1.1em;
	padding:0.2em;
	margin-bottom:0.20em;
}
head~body #link_list_white select#worldwide,
head~body #link_list_white select#country,
head~body #link_list_white select#linklist_dropdown_w01,
head~body #link_list_white select#linklist_dropdown_w02 {
	height: 1.7em;
	width: 18em;
}
}



/******************************
	styles for Form Pages
*******************************/



/* IE6 & IE7 */

#formpage textarea {
	*/overflow:hidden;
	*/width:25.1em;
}

#formpage select, #paperwork select {
	*/font-size:1.1em;
	*/height:1.8em;
	*/width:25.7em;
}

/* Opera */

@media all and (min-width:0px) {
head~body #formpage input.formbutton {
	font-size: 1.1em;
	padding:0.2em 0.4em;
}
}

@media all and (min-width:0px) {
head~body #formpage input.submitbutton {
	font-size: 1.1em;
	padding:0.2em 0.4em;
}
}

@media all and (min-width:0px) {
head~body #formpage #file_upload {
	width:31.5em;
}
}

@media all and (min-width:0px) {
head~body #formpage textarea {
	width:24.4em;
}
}

/******************************
  styles for customs paperwork 
*******************************/

@media all and (min-width:0px) {
head~body #paperwork textarea#item_list,
head~body #paperwork textarea#notes {
	width:17.6em;
}
}


/******************************
	styles for FlashModule
*******************************/



#flash_teaser_small {
*/height:12.1em;
*/width:20.1em;

}
/******************************
	styles for TransactionTeaser
*******************************/
* html .transaction_teaser_headline {
	margin-top:0em;
}