html {overflow-x: hidden;}


#main_pop {
        width: 99%;
        padding-right: 1em;
        background: none;
}
/*********************
   header styles
**********************/

#header {
        background-color: #ffcc00;
        height: 4.4em;
        padding-left: 1.5em;
}

#header img#logo {
        margin-top: 0em;
        float: left;
}

/*********************
   navigation styles
**********************/
#navigation_main {
        background: url(img/meta/main_navigation_bg.gif) repeat-x;
        background-color: #cc0001;
        height:0.3em;
        padding: 0em 1em 0em 2em;
        position: relative;
        white-space: nowrap;
        z-index: 100;
}
#content_main {
        width: 52em;
}

#content_main_shadow {
        display: none;
}

#content_cross_reference {
        margin-left: 20em;
}

/*********************
   footer styles
**********************/

#footer_pop {
        width: 98%;
        padding-top: 4em;
        background: none;
        clear: left;
}


#footer_pop div.container {
        padding: 1em 1em 0.5em 1em;
        background-color: #ffcc00;
        width: 98.5%;
}

#footer_pop p {
        font-size: 1em;
        color: #000;
}


#footer_pop .logo {
        float: left;
}

#footer_pop .footer_navigation {
        float: right;
        text-align: right;
}

#footer_pop .footer_navigation li {
        display: inline;
}

#footer_pop .footer_navigation li a {
        padding-left: 0.5em;
        background: url(img/meta/servicelink_separator.gif) no-repeat 0 0.4em;
}

#footer_pop .footer_navigation li a:hover {
        text-decoration:underline;
}

#footer_pop .footer_navigation a.email {
        padding-left: 1.6em;
        background: url(img/meta/icon_mail.gif) no-repeat 0 0.1em;
}

#footer_pop .footer_navigation a.print {
        padding-left: 2.3em;
        background: url(img/meta/icon_print.gif) no-repeat 0 0em;
}

/* Hier die Styles für DHL/MICROMATA/POP Inhalte */

#print_header{
        display:none;
}

#print_content{
        margin:2em;
}

/*table of content */

#print_content ul.toc, #print_content ul.toc ul {
        color:#666;
        line-height:1.8em;
        list-style: none;
        margin:0;
        padding:0;
}

#print_content ul.toc li {
        font-weight:bold;
        font-size: 1.2em;
        margin:1em 0 0.5em 0;
        padding:0;
}


#print_content ul.toc li ul li{
        font-weight:normal;
        font-size:1em;
        margin:0 0 0.5em 1em;
        padding:0;
}


/* links */

a:visited, a {
        color:#000;
}


a:hover {
        color:#cc0000;
}

a.arrowLinkUp {
        background: url(img/common/arrow_up.gif) no-repeat 0 0.2em;
        padding-left: 1em;
        margin-left: -0.2em;
}
a.arrowLink, table a.arrowLink, table a.arrowLinkBold {
        background: url(img/common/arrow.gif) no-repeat 0.2em 0.3em;
        padding-left: 0.7em;
        font-weight:normal;
}

/* headings und text */

#print_content h1, #print_content h2, #print_content h3, #print_content h4 {
        font: normal Arial, Helvetica, sans-serif;
        margin:2em 0 0.5em 0;
}

#print_content ul {
        color:#666;
        list-style: square;
        margin: 0.5em 0 1em 1.5em;
        padding:0;
}

#print_content ul li {
        margin: 0 0 0.5em 0;
        font-size:1.2em;
        line-height:1.5em;
}

#print_content p {
        font-size:1.2em;
        color:#666;
        line-height:1.5em;
        padding-top:0.6em
}

#print_content p.totop{
        text-align:right;
}

#print_content h2 {
        padding-top:1.1em;
        font-size:1.4em;
        color:#000;
}


/* TABELLE */



 div.tablewrap{
        border-top: 2px solid #D1D1D1;
        border-bottom: 2px solid #D1D1D1;
        padding:0;
        margin: 1em 0 2em 0;
}

 table{
        border:none;
        color:#666;
        background:#fff;
        border-collapse:collapse;
        border-spacing: 0;
        table-layout: auto;
        margin:0;
        font-size:11px;
}

 table.full{
        width:100%;
}




        /* zellen im kopf der tabelle */
         table thead {}

                 table thead tr td,  table thead tr th {
                        background-color:#E8E8E4;
                        border-right:3px solid #FFFFFF;
                        padding:0.2em 0.6em;
                        text-align:left;
                        vertical-align:top;
                }

                /*todo: Implementieren für MSIE */
                 table > thead > tr > th:last-child{border-right:none;}
                 table > thead > tr > td:last-child{border-right:none;}
                 table > tbody > tr > td:last-child{border-right:none;}
                 table > tbody > tr > td:last-child{border-right:none;}


        /* zellen im body der tabelle */
         table tbody {

        }

                 table tbody tr td,  table tbody tr th {
                        background-color:#FFFFFF;
                        border-top:1px solid #D1D1D1;
                        border-right:3px solid #FFFFFF;
                        padding:0.2em 0.6em;
                        text-align:left;
                        vertical-align:top;
                }

                         table tbody tr th { /* th einzeln */
                                font-weight:bold;
                                text-align:left;
                        }

                         table tbody tr td { /* td einzeln */
                                font-weight:normal;
                        }

                                /* even & odd, nur im body */
                                /* even und odd sind gestreift, aber ohne border oben und unten. */
                                 table tbody tr.even td,
                                 table tbody tr.even th{
                                        background-color:#F2F2ED;
                                }





                                /* tabellenlineal, hover bei over */
                                 table.ruler tbody tr:hover td,
                                 table.ruler tbody tr.even:hover td,
                                 table.ruler tbody tr.odd:hover td,
                                 table.ruler tbody tr:hover th,
                                 table.ruler tbody tr.even:hover th,
                                 table.ruler tbody tr.odd:hover th,
                                 table.ruler tbody tr.over td,
                                 table.ruler tbody tr.over th {color:#000; background-color:#dbdbdb;}

        /* zellen im fuss der tabelle */
         table tfoot {

                background-color:#fff;
                text-align:left;
                }

                         table tfoot tr td,  table tfoot tr th {
                                border: none;
                                margin:0;
                                padding:0.2em 0.6em;
                                background-color:#fff;
                                border-top:1px solid #D1D1D1;
                        }

/* Ausrichtung der Zellen durch Klassen, left und right sind schon vergeben, daher der sperrige Name */

/* alignment left*/
 table tfoot tr th.tleft,
 table tfoot tr td.tleft,
 table thead tr th.tleft,
 table thead tr td.tleft,
 table tbody tr th.tleft,
 table tbody tr td.tleft {
        text-align: left;
}

/* alignment right */
 table tfoot tr th.tright,
 table tfoot tr td.tright,
 table thead tr th.tright,
 table thead tr td.tright,
 table tbody tr th.tright,
 table tbody tr td.tright {
        text-align: right;
}

/* alignment center */
 table tfoot tr th.tcenter,
 table tfoot tr td.tcenter,
 table thead tr th.tcenter,
 table thead tr td.tcenter,
 table tbody tr th.tcenter,
 table tbody tr td.tcenter {
        text-align: center;
        vertical-align:middle;
}
